[Unit]
Description=hyperion-timer

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python3 /home/pi/hyperion-timer/main.py
StandardOutput=syslog
StandardError=syslog

[Install]
After=hyperion.service
WantedBy=default.target
